<!doctype html>
<html>

    <head>
        <title>Curriculum Vitae</title>
    </head>

    <body>
        <h1 align="center"><u>Biodata</u></h1>
        <hr>
        <p style="font-size : 35px"><b>Nama</b> : Naufal Arya Raihasa</p>
        <p style="font-size : 35px"><b>Tempat Tanggal Lahir</b> : Jakarta, 22 Juli 2002</p>
        <p style="font-size : 35px"><b>Domisili</b> : Surabaya</p>
        <p style="font-size : 35px"><b>Alamat</b> : Jalan sutorejo Barat blok mm.4</p>
        <hr>

        <h1 align="center"><u>Curriculum Vitae</u></h1>
        <center><img src="{{user_image}}" alt="CV" class="center"></center>
    </body>

</html>