<!DOCTYPE html>
<html lang="en">

    <head>
        <!--<meta charset="UTF-8">-->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
        <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
        <title>Form</title>
    </head>

    <body>
        <div class="container">
            <form method="POST" role="form" class="form-horizontal">
                <div>
                    <label for="Namadepaninput">Nama depan</label>
                    <input type="text" id="Namadepaninput" placeholder="Mohon input nama anda" name="namadepan">
                    <label for="Namabelakanginput">Nama Belakang</label>
                    <input type="text" id="Namabelakanginput" placeholder="Mohon input nama anda" name="namabelakang">
                </div>
                <div>
                    <label for="jeniskelamin">Choose Gender</label>
                    <select id="jeniskelamin" name="gender">
                        <option>Laki-laki</option>
                        <option>Perempuan</option>
                        <option>Tidak ingin memberitahu</option>
                    </select>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>

</html>

</html>